*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: 100vh;

    background: linear-gradient(290deg,#B799FF,#ACBCFF);
}
header{
    width: 100%;
    height: 90px;

    background: #1e1e26;
    /* box-shadow: 2px 2px 5px 1px #F7E987; */
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h3#logoIcon{
    display: flex;
    color: #4daa59;
    border-radius: 20px 20px 0px 20px;
    border: 5px solid #3db99d;
    height: 0px;
    margin-bottom: 18px;
}
nav#Menu{
    list-style: none;
    display: flex;
}
nav#Menu li a{
    color: #99f3bd;

    display: block;
    text-decoration: none;

    padding: 10px 20px 10px 20px;
    font-size: 15pt;
    border-radius: 10px;
}
nav#Menu li a:hover{
    color: white;

    display: block;
    text-decoration: none;
    background-color: #4daa59;

}
h1#title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #FFF3DA;
    z-index: 2;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto 0px;
    margin-top: 20px;
    gap: 20px;
    background-color: #1e1e26;
    border-radius: 25px;
    padding-top: 20px;
}
a#Box1{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box1:hover{
    display: flex;
    transform: scale(1.1);
}
h3#Title{
    display: flex;
    justify-content: center;
    color: white;
}
a#Box2{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box2:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box3{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box3:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box4{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box4:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box5{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box5:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box6{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box6:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box7{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box7:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box8{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box8:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box9{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box9:hover{
    display: flex;
    transform: scale(1.1);
}
a#Box10{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border-radius: 25px;
    z-index: 1;
}
a#Box10:hover{
    display: flex;
    transform: scale(1.1);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}